$cfff = #fff
$c000 = #000
$c333 = #333
$c666 = #666
$c888 = #888
$c999 = #999
$cccc = #ccc
$ceee = #eee

$error = #ff4949 // 错误色
$success = #13ce66 // 成功色
$bgbody = #f0f2f5 // body 背景色
$active = #1890ff // 主体色
$menuBg = $c000 // menu 背景色
$subMenuActiveText = #f4f4f5 // sub menu
$subBg = #151515 // sub
$tableThead = #fafafa // table thead
$tableHover = #e6f7ff // table tr hover
$loginBg = #2d3a4b // 登录背景色
$loginInput = #283443 // 登录 input 背景色

$menuWidth = 180px // menu 宽度

// transition time
$ms = 500ms
